.img-area {    
    height: 18rem;
    position: relative;
    background-image: url(/img-3d-narrower_600x563px.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-top: 0.2rem solid white;
    border-bottom: 0.2rem solid white;
}

h1.portfolio {
    --portfolio-height: 3rem;
    --portfolio-width: 15.5rem;
    height: var(--portfolio-height);
    width: var(--portfolio-width);
    padding: 0.4rem 1rem;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: calc((var(--portfolio-height) * -1) + 0.2rem);
    right: calc(50% - (var(--portfolio-width)/2));
    background-color: var(--base-color-medium);
    color: var(--font-color-dark);
    font-size: 2rem;
    font-family: var(--font-family-solid);
    border-radius: 1.8rem;    
    border-bottom: 0.2rem solid white;
}

@media only screen and (min-width: 580px) {
    .img-area {    
        background-image: url(/img-3d_800x566px.jpg);
    }
}

@media only screen and (min-width: 1900px) {
    .img-area {    
        background-image: url(/img-3d_1920x1358px.jpg);
    }
}