button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21rem;
    max-width: 90%;
    height: 5rem;
    margin: 1rem auto 4rem auto;
    font-size: 1.7rem;
    background-color: var(--base-color-dark);
    color: var(--font-color-light);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
button:hover {
    color: var(--font-color-lightest);
}

.message {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 6rem auto 1rem auto;
}