<main>
    <h3 i18n="@@react3DProjectHeader">Reactiga loodud 3D veebiprojekt</h3>
    <p i18n="@@react3DProjectDescription"> Lehel kuvatakse viis kolmemõõtmelist objekti. Objektid on üksteise suhtes paigal, aga objektikogumit saab ringis liigutada. Mõningal määral saab objektidele lähemale liikuda (sisse-välja suumida). Objektile klõpsates avaneb infoaken objekti kirjeldusega. Akna saab sulgeda vastavale nupule vajutades või aknast väljaspool klõpsates. </p>
    <p i18n="@@react3DProjectFrameworks"> Projektis kasutasin React Three Fiber'i ja Drei raamistikke, mis omakorda kasutavad Three.js'i. Olgugi, et serveripoolset arendust vaja polnud, siis projekti paigaldamiseks Google Cloud Run keskkonda lisasin projektile staatiliste failide serveerimiseks Node.js'i koos Expressiga. </p>
    <p i18n="@@react3DProjectModels"> Kõik mudelid on pärit Sketchfabist. Tegu on erinevate muuseumite skaneeritud eksponaatidega. </p>
    <p i18n="@@react3DProjectGoal"> Projekti eesmärk oli katsetada Three.js'i ja teada saada, kuidas 3D objektide veebilehel kuvamine käib. See eesmärk sai täidetud. </p>
    <a href="https://menu3d-service-921560236724.europe-north1.run.app/" target="_blank" i18n="@@react3DProjectLink">Ava projekt</a>
</main>