.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
    margin: 2rem auto;
    justify-content: center;
}

.img-container {
    display: flex;
    flex-direction: column;
    width: 86%;
    align-content: center;
}

button {
    background-color: black;
    border: none;
}

.arrow {
    font-size: 3rem;
    font-weight: normal;
    color: var(--font-color-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 7%;
}

.arrow:hover {
    color: var(--font-color-lightest);
}

.arrow[disabled] {
    color: var(--font-color-dark);
}

img {
    width: 100%;
}

.caption-container {
    position: relative;
}

caption {
    display: grid;
    place-content: center;
    width: 100%;
    min-height: 2rem;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.progress-icons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--base-color-darkest-alpha);
}

.progress-icon {
    color: var(--font-color-dark)
}

.progress {
    max-width: 2rem;
    font-size: 1rem;
}

.progress-icon:hover {    
    text-shadow: -2px -2px 10px var(--font-color-lightest), 2px 2px 10px var(--font-color-lightest);
}

.progress-icon-active {
    color: var(--font-color-lightest)    
}

@media only screen and (min-width: 650px) {
    .arrow {
        font-size: 4rem;
        max-width: 7%;
    }

    .progress {
        font-size: 1.5rem;
    }
    
    caption {
        font-size: 1.3rem;
        min-height: 3rem;
    }
}

@media only screen and (min-width: 900px) {
    .arrow {
        font-size: 5rem;
        max-width: 7%;
    }

    .progress {
        font-size: 2rem;
    }

    caption {
        font-size: 1.5rem;
        min-height: 4rem;
    }
}