
<div class="carousel">
    <button class="material-icons arrow" (click)="previousPic()" [disabled]="isFirstItemReached()"> keyboard_arrow_left </button>
    <div class="img-container">
        <picture>
            <source class="imgsrc" media="(min-width:1300px)" [srcset]="getCurrentPicUrlBase(1920, 1080)">
            <source class="imgsrc" media="(min-width:1000px)" [srcset]="getCurrentPicUrlBase(1000, 563)">
            <source class="imgsrc" media="(min-width:650px)" [srcset]="getCurrentPicUrlBase(750, 422)">
            <source class="imgsrc" media="(min-width:400px)" [srcset]="getCurrentPicUrlBase(500, 281)">
            <img [src]="getCurrentPicUrlBase(1000, 563)" [alt]="getCurrentPicAlt()">
        </picture>
        <div class="caption-container">
            <caption>{{getCurrentPicCaption()}}</caption>
        </div>
        <div class="progress-icons">
            @for (item of pics; track item) {
                <button (click)="activatePic(pics.indexOf(item))">
               @if (index() == pics.indexOf(item)) {
                    <div class="material-icons progress progress-icon-active">circle</div>
                } @else {
                    <div class="material-icons progress progress-icon">circle</div>
                } 
                </button>
            }
        </div>
    </div>
    <button class="material-icons arrow" (click)="nextPic()" [disabled]="isLastItemReached()">keyboard_arrow_right</button>
</div>