h1 {
    text-align: center;
}

.emailContainer {
    display: flex;
    flex-direction: column;
}

input.checkbox {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 1rem;
}   

.inputText {
    height: 2.5rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}

input.percentage {
    width: 4.8rem;
}

.textOutsideFormElements {
    font-size: 1.5rem;
    padding-left: 5px;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 2rem;
    background-color: var(--base-color-darkest-alpha);
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1.5rem;
}

.formError {
    color: darkred;
    padding: 0.1rem 0 0.3rem 0;
    font-size: 1.1rem;
}

.requiredHint {
    color: darkred;
    font-size: 1.3rem;
}

input {
    border-radius: 0.5rem;
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.veggieList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

fieldset {
    width: 96%;
    margin: 0 auto;
}

.submitButton {
    width: 15rem;
    height: 5rem;
    margin: 0 auto;
    font-size: 1.9rem;
    background-color: var(--base-color-dark);
    color: var(--font-color-light);
}

.submitButton:hover {
    background-color: var(--base-color-medium);
    color: var(--font-color-lightest);
}

.submitButton:disabled {
    background-color: var(--base-color-darkest);
    color: var(--font-color-dark);
}

/* Some custom layout values for the bigger screens - desktop and such. */
@media only screen and (min-width: 800px) {
    .checkboxContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    fieldset {
        width: 49%;
    }

    form {
        padding: 1rem 3rem 3rem 3rem;
        font-size: 2rem;
    }

    .emailContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: end;
    }

    input.checkbox {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }   
}