<h1 i18n="@@pollTitle">Väike küsitlus köögiviljade eelistuste ja tarbimise kohta</h1>

<form [formGroup]="poll" (submit)="submitPoll()">
    <div class="emailContainer">
        <label for="email" i18n="@@emailAddress">Meiliaadress: </label>
        <input type="email" name="email" id="email" formControlName="email" class="inputText"> 
    </div>

    <div class="checkboxContainer">
        <fieldset>
            <legend i18n="@@chooseLikedVeggies"> Vali kõik köögiviljad, mis Sulle meeldivad </legend>
            <div formArrayName="likedveggies" class="veggieList">
                @for (item of veggies; track item; let i = $index) {
                    <div>
                        <input type="checkbox" id="l_{{item.key}}" value="l_{{item.key}}" [formControlName]="i" class="checkbox">
                        <label for="l_{{item.key}}">{{getVeggieName(item)}}</label>
                    </div>
                }
            </div>
        </fieldset>

        <fieldset>
            <legend i18n="@@chooseDisikedVeggies"> Vali kõik köögiviljad, mis Sulle ei meeldi </legend>
            <div formArrayName="dislikedveggies" class="veggieList">
            @for (item of veggies; track item; let i = $index) {
                <div>
                    <input type="checkbox" id="d_{{item.key}}" value="d_{{item.key}}" [formControlName]="i" class="checkbox">
                    <label for="d_{{item.key}}">{{getVeggieName(item)}}</label>
                </div>
            }
            </div>
        </fieldset>
</div>
    
<div>
    <label for="percentage" i18n="@@choosePercentage">Kui suure osa Sinu menüüst köögiviljad moodustavad: </label>
    <input type="number" name="percentage" id="percentage" formControlName="percentage" class="inputText percentage"> <span class="textOutsideFormElements">%</span>
</div>

    <input type="submit" name="submit" value="Saada" i18n-value="@@sendButton" class="submitButton" [disabled]="!poll.valid">
</form>
