<nav>
    <a routerLink="" class="home">Katrin</a>
    <a routerLink="cv" class="cv-button headerFontSerif">CV</a>
    
    
    <div class="links">
        <a routerLink="poll" class="headerFontSansSerif" routerLinkActive="active">Küsitlus</a>
        <a routerLink="gallery" class="headerFontSansSerif" routerLinkActive="active" >Galerii</a>
        <a routerLink="restgame" class="headerFontSansSerif" routerLinkActive="active" >Rest-mäng</a>
    </div>

    <select class="headerFontSerif">
        <option value="EST" class="headerFontSerif">EST</option>
        <option value="ENG" class="headerFontSerif">ENG</option>
    </select>
</nav>