:root {
    --base-color-darkest: black;
    --base-color-darker: #494949;
    --base-color-dark: #757575;
    --base-color-medium: #b3b3b3;
    --base-color-light: #e6e6e6;
    --base-color-lightest: white;

    --base-color-darkest-alpha: rgba(117, 117, 117, 0.3);

    --font-color-darkest: black;
    --font-color-dark: #464646;
    --font-color-medium: #9c9c9c;
    --font-color-lightmedium: #b9b9b9;
    --font-color-light: #e6e6e6;
    --font-color-lightest: white;

    --font-family-headers: 'Kantumruy Pro', serif;
    --font-family-accent: 'Qwitcher Grypen', cursive;
    --font-family-solid: 'Times New Roman', Times, serif;
    --font-family-main: 'Kantumruy Pro', serif;
}
* {
    box-sizing: border-box;
    font-family: var(--font-family-main);
}
body {
    background-color: var(--base-color-darkest);
    font-size: clamp(1em, 1.5em, 3em);
    color: var(--base-color-light);
}
a {
    color: var(--font-color-medium);
    text-decoration: none;
}
a:hover {
    color: var(--font-color-light);
}

h1,h2,h3 {
    font-family: var(--font-family-headers);
    font-weight: 550;
}

.headerFontSerif {
    font-family: var(--font-family-solid);
    font-weight: 500;
}

.headerFontSansSerif {
    font-family: var(--font-family-main);
    font-weight: 500;
}