:root {
    --base-color-darkest: black;
    --base-color-dark: #757575;
    --base-color-medium: #b3b3b3;
    --base-color-light: #e6e6e6;
    --base-color-lightest: white;

    --base-color-darkest-alpha: rgba(117, 117, 117, 0.2);

    --font-color-darkest: black;
    --font-color-dark: #464646;
    --font-color-medium: #9c9c9c;
    --font-color-light: #e6e6e6;
    --font-color-lightest: white;

    --font-family-main: "Manrope", sans-serif;
    --font-family-accent: "Qwitcher Grypen", cursive;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--base-color-darkest);
    font-family: --font-family-main;
    font-size: clamp(1em, 1.5em, 3em);
    color: var(--base-color-light);
}
a {
    color: var(--font-color-medium);
    text-decoration: none;
}
a:hover {
    color: var(--font-color-light);
}